{sys, [
       {lib_dirs, []},
       {rel, "riak_csv", "1",
         [
         kernel,
         stdlib,
         sasl
        ]},
       {rel, "start_clean", "",
         [
         kernel,
         stdlib
        ]},
       {boot_rel, "riak_csv"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "riak_csv"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/riak_csv", "bin/riak_csv"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
           ]}.

  ]}
           ]}
           ]}
  ]}
